extends layout
block content
    div#aboutImgHeader
    div#resumeBlock
        div.col-md-3(style="background: blue;")
        div.col-md-3(style="background: red;")
        div.col-md-3(style="background: green;")
        div.col-md-3(style="background: violet;")
    div#descriptionBlock
        div.col-md-12 bla content 2
