extends ./layout
block content
    img.bg(src="/static/img/Background.jpg")
    div.inside-text
        h1 Hello my name is Juan Jose Soriano and the page is under construction.
            span.blink |

