extends ./layout
block content
    img.bg(src="/static/img/Background.jpg")
    div.inside-text
        h1 Hello!
        h1 welcome to my Web Site, I am a Web developer and Artificial | 
           intelligence enthusiast who loves creating new solutions while | 
           enjoy one or maybe two good cups of coffee. Explore arround and let |
           me know if you have any suggestion or project in mind.
           span.blink |
