doctype html
html(lang="en")
    include partials/_head
    body(ng-app="myCVApp", ng-controller="mainCtrl")
        div.container-fluid
            div.row.no-gutter.global-container
                include partials/_nav
                include partials/_aside

                div#main(ng-show="showMainBlock", ng-class="mainBlock")
                    a.menuBtn(ng-hide="menuBtn", ng-click="toggleStatus('show')")
                        i.fa.fa-chevron-circle-down.fa-2x
                    block content

    script(src="/static/js/angular.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.5.0/intro.js")
    script(src="/static/js/angular-intro.js")
    script(src="/static/js/scripts/app.js")   
    script(src="/static/js/scripts/contactController.js")
    script(src="/static/js/scripts/classifierController.js")
<<<<<<< HEAD
    script(src="/static/js/scripts/introController.js")
=======
    script(src="/static/js/scripts/xorController.js")
>>>>>>> 621159ad299554786523a5f3a1e98860a47e7cab
    script(src="/static/js/jquery-3.1.1.min.js")
    script(src="/static/js/bootstrap.js")
    script(src="/static/js/sweetalert.min.js")


