extends layout
block content
    div#porfolioContainer.row
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.fadeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase View More
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase View More
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase View More

        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase View More