extends ./layout
block content
    div#porfolioContainer.row
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.fadeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase Ver Post
                    span.badge.pull-right.item-card__actions__date
                        i.fa.fa-calendar-o  Posted date
                    div.clearfix
                div.item-card__menu
                    button.btn.btn-white.btn-sm(title="Add User", data-toggle="tooltip", type="button")
                        i.fa.fa-user
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase Ver Post
                    span.badge.pull-right.item-card__actions__date
                        i.fa.fa-calendar-o  Posted date
                    div.clearfix
                div.item-card__menu
                    button.btn.btn-white.btn-sm(title="Add User", data-toggle="tooltip", type="button")
                        i.fa.fa-user
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase Ver Post
                    span.badge.pull-right.item-card__actions__date
                        i.fa.fa-calendar-o  Posted date
                    div.clearfix
                div.item-card__menu
                    button.btn.btn-white.btn-sm(title="Add User", data-toggle="tooltip", type="button")
                        i.fa.fa-user

        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.adeInUp
                div.item-card__title(style="background: url(https://images.pexels.com/photos/80404/harbour-boat-sea-plane-80404.jpeg?w=940&h=650&auto=compress&cs=tinysrgb) center / cover")
                    h2.item-card__title-text.cursor--pointer Title
                div.item-card__supporting-text.text-justify Description
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase Ver Post
                    span.badge.pull-right.item-card__actions__date
                        i.fa.fa-calendar-o  Posted date
                    div.clearfix
                div.item-card__menu
                    button.btn.btn-white.btn-sm(title="Add User", data-toggle="tooltip", type="button")
                        i.fa.fa-user