extends layout
block content
    div#porfolioContainer.row
        div.col-md-4
            div.card-wide.item-card.shadow--3dp.animated.fadeInUp
                div.item-card__title(style="background: url(/static/img/charging.jpg) center / cover")
                    h2.item-card__title-text.cursor--pointer SmartCharging App Small Assignment
                div.item-card__supporting-text.text-justify Small Application develop for Sustainable Mobility and Logistics, use to  create, find and schedule time in charging stations sor electric cars.
                div.item-card__actions.item-card--border
                    a.item-button.item-button--colored.text-uppercase(href="/project") View More


