extends layout
block content
    //link(rel="styleSheet", href="/static/css/hexagonGrid.css", type="text/css")
    link(rel="styleSheet", href="/static/css/slider.css", type="text/css")
    div#porfolioContainer.row
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,200,100,900', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700', rel='stylesheet', type='text/css')
        #captioned-gallery
            figure.slider
                figure
                    img(src='/static/img/chargingApp/Charge1.png', alt='')
                    figcaption User Login
                figure
                    img(src='/static/img/chargingApp/charge2.png', alt='')
                    figcaption Comment
                figure
                    img(src='/static/img/chargingApp/charge3.png',alt='')
                    figcaption Comment
                figure
                    img(src='/static/img/chargingApp/charge4.png', alt='')
                    figcaption Comment
                figure
                    img(src='/static/img/chargingApp/charge5.png', alt='')
                    figcaption Comment
