extends layout
block content
    link(rel="styleSheet", href="/static/css/timeline.css", type="text/css")
    div#resumeImgHeader
        h1.bgAboutText Experience
    div#stroyLine
        #timeline
            .timeline-item
                .timeline-icon
                    i.fa.fa-microchip
                .timeline-content
                    h2 MASTER IN APPLIED COMPUTER SCIENCE
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        | Atque, facilis quo maiores magnam modi ab libero praesentium blanditiis.
                    a.btn(href='#') button
            .timeline-item
                .timeline-icon
                   i.fa.fa-clock-o
                .timeline-content.right
                    h2 STATISTICS AND PROBABILITY PROFESSOR
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                    a.btn(href='#') button
            .timeline-item
                .timeline-icon
                   i.fa.fa-android
                .timeline-content
                    h2 WEB DEVELOPER
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, facilis quo. Maiores magnam modi ab libero praesentium blanditiis consequatur aspernatur accusantium maxime molestiae sunt ipsa.
                    a.btn(href='#') button
