head
    title Juan Jose Soriano Escobar
    link(rel="styleSheet", href="/static/css/font-awesome.css", type="text/css")
    link(rel="styleSheet", href="/static/css/bootstrap.css", type="text/css")
    link(rel="styleSheet", href="/static/css/style.css", type="text/css")
    link(rel="styleSheet", href="/static/css/sweetalert.css", type="text/css")
    link(rel="styleSheet", href="/static/css/animate.css", type="text/css")
    link(rel="styleSheet", href="/static/css/main.css", type="text/css")
    link(rel="styleSheet", href="/static/css/geometry.css", type="text/css")