nav.navbar.navbar-static-top
    div.navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#collapseMenu", aria-expanded="false")
            span.sr-only Toggle navigation
            i.fa.fa-navicon
        a.navbar-brand
            div.circularBrand
    div#collapseMenu.collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active
                a(href='/')
                    i.fa.fa-home
                    | Home
            li
                a(href='/about')
                    i.fa.fa-user-circle
                    | About me
            li
                a(href='/resume')
                    i.fa.fa-id-badge
                    | Resume
            li
                a(href='/portfolio')
                    i.fa.fa-suitcase
                    | Portfolio
            li
                a(href='/contact')
                    i.fa.fa-telegram
                    | Contact